In [1]:
import numpy as np                           # Implemennts milti-dimensional array and matrice                                              # For data manipulation and analysis
import pandas as pd                          # For data manipulation and analysis
import pandas_profiling
import matplotlib.pyplot as plt              # Plotting library for Python programming language and it's numerical mathematics extension NumPy
import seaborn as sns                        # Provides a high level interface for drawing attractive and informative statistical graphics
%matplotlib inline
sns.set()

#### After proper analysis of data the observation was that data was containing too many nulls in most of the columns and below are some of the methods being adopted to remove them:
1. Age column had nulls in it which was either for both the players or either one of them.
2. Based on this observation I took the mean of the ages for player A and B seperately
3. Based on that mean I took the difference between the mean of both the players(i.e player and opponent) 
4. After this did a analysis of the players based on their age to find out the correlation and reached to a conclusion that the players who have less age are having probability of winning.
5. After this observation applied the reverse analysis for the data i.e putting the difference of mean in the place of the players whose date is null by replacing it with (mean difference + players age if he has lost the match and vice versa)

Note : Simillar trend I followed to fill the missing weight and height too.

In [8]:
box_age = box_full_data[(~(box_full_data['age_A'].isnull())) & (~(box_full_data['age_B'].isnull()))]

In [86]:
box_age.describe()

25.0

In [35]:
dummy_10 = box_full_data[(box_full_data['age_A'].isnull()) | (box_full_data['age_B'].isnull())].head(10)

In [77]:
for i in box_full_data.index:
    if box_full_data.loc[i,'result'] == 'win_A':
        if str(box_full_data.loc[i,'age_A']) =='nan' and str(box_full_data.loc[i,'age_B']) != 'nan':
            box_full_data.loc[i,'age_A'] = box_full_data.loc[i,'age_B'] - 2
        elif str(box_full_data.loc[i,'age_A']) !='nan' and str(box_full_data.loc[i,'age_B']) == 'nan':
            box_full_data.loc[i,'age_B'] = box_full_data.loc[i,'age_A'] + 2
        else:
            pass
    elif box_full_data.loc[i,'result'] == 'win_B':
        if str(box_full_data.loc[i,'age_A']) =='nan' and str(box_full_data.loc[i,'age_B']) != 'nan':
            box_full_data.loc[i,'age_A'] = box_full_data.loc[i,'age_B'] + 2
        elif str(box_full_data.loc[i,'age_A']) !='nan' and str(box_full_data.loc[i,'age_B']) == 'nan':
            box_full_data.loc[i,'age_B'] = box_full_data.loc[i,'age_A'] - 2
        else:
            pass
    else:
        if str(box_full_data.loc[i,'age_A']) =='nan' and str(box_full_data.loc[i,'age_B']) != 'nan':
            box_full_data.loc[i,'age_A'] = box_full_data.loc[i,'age_B']
        elif str(box_full_data.loc[i,'age_A']) !='nan' and str(box_full_data.loc[i,'age_B']) == 'nan':
            box_full_data.loc[i,'age_B'] = box_full_data.loc[i,'age_A']
        else:
            pass

In [78]:
box_age_2 = box_full_data[(~(box_full_data['age_A'].isnull())) & (~(box_full_data['age_B'].isnull()))]

In [79]:
box_age_2.describe()

,age_A,age_B,height_A,height_B,reach_A,reach_B,weight_A,weight_B,won_A,won_B,...,drawn_A,drawn_B,kos_A,kos_B,judge1_A,judge1_B,judge2_A,judge2_B,judge3_A,judge3_B
count,369128.000000,369128.000000,248250.000000,134244.000000,112140.000000,37806.000000,130840.000000,125636.000000,369128.000000,369128.000000,...,369128.000000,369128.000000,369128.000000,369056.000000,49525.000000,49339.000000,67249.000000,66912.000000,58387.000000,58181.000000
mean,24.389599,25.935914,172.787758,172.885038,178.836169,178.995239,146.690920,147.462208,23.734702,15.590402,...,2.879757,2.698373,10.661597,6.435449,63.877173,60.569570,60.323752,57.306567,61.647610,58.841392
std,6.489364,10.290221,9.135702,9.433641,11.999658,14.864172,30.400208,30.805363,27.934133,20.143461,...,5.648443,5.081557,12.546152,8.870868,30.461131,29.409064,31.253418,30.501405,32.139203,31.401402
min,-74.000000,-76.000000,2.000000,15.000000,5.000000,1.000000,10.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,21.000000,22.000000,166.000000,167.000000,170.000000,171.000000,126.000000,126.000000,5.000000,2.000000,...,0.000000,0.000000,2.000000,0.000000,40.000000,37.000000,39.000000,36.000000,39.000000,37.000000
50%,24.000000,25.000000,173.000000,173.000000,178.000000,178.000000,140.000000,140.000000,14.000000,9.000000,...,1.000000,1.000000,7.000000,3.000000,59.000000,55.000000,58.000000,54.000000,58.000000,55.000000
75%,27.000000,29.000000,178.000000,179.000000,185.000000,185.000000,160.000000,161.000000,32.000000,22.000000,...,3.000000,3.000000,15.000000,9.000000,90.000000,87.000000,80.000000,76.000000,87.000000,83.000000
max,1818.000000,2016.000000,255.000000,255.000000,456.000000,456.000000,363.000000,450.000000,332.000000,251.000000,...,77.000000,76.000000,131.000000,128.000000,540.000000,291.000000,299.000000,294.000000,300.000000,295.000000

In [80]:
dummy_10 = box_full_data[(box_full_data['age_A'].isnull()) | (box_full_data['age_B'].isnull())].head(10)

In [81]:
dummy_10

,age_A,age_B,height_A,height_B,reach_A,reach_B,stance_A,stance_B,weight_A,weight_B,...,kos_A,kos_B,result,decision,judge1_A,judge1_B,judge2_A,judge2_B,judge3_A,judge3_B
4013,NaN,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,...,7,4.0,win_A,UD,116.0,112.0,116.0,112.0,118.0,110.0
4015,NaN,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,...,6,6.0,win_A,KO,NaN,NaN,NaN,NaN,NaN,NaN
4016,NaN,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,104.0,NaN,...,6,5.0,win_A,SD,116.0,113.0,116.0,112.0,114.0,115.0
4017,NaN,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,...,6,3.0,win_A,PTS,NaN,NaN,NaN,NaN,NaN,NaN
4018,NaN,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,...,6,1.0,win_A,PTS,NaN,NaN,NaN,NaN,NaN,NaN
4020,NaN,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,...,4,4.0,win_A,TKO,NaN,NaN,NaN,NaN,NaN,NaN
4022,NaN,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,103.0,NaN,...,3,3.0,win_A,PTS,NaN,NaN,NaN,NaN,NaN,NaN
4024,NaN,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,...,5,3.0,win_A,TKO,NaN,NaN,NaN,NaN,NaN,NaN
4026,NaN,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,...,3,0.0,win_A,PTS,NaN,NaN,NaN,NaN,NaN,NaN
4028,NaN,NaN,NaN,NaN,NaN,NaN,orthodox,orthodox,NaN,NaN,...,2,4.0,win_B,KO,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
new = list(box_full_data[(box_full_data['age_A'].isnull()) & (box_full_data['age_B'].isnull())].index)
len(new)

0

In [133]:
new1 = new

In [134]:
for i in new1:
    print(len(new1))
    if box_full_data.loc[i,'result'] == 'win_A':
            box_full_data.loc[i,'age_A'] = 24
            box_full_data.loc[i,'age_B'] = 26
    elif box_full_data.loc[i,'result'] == 'win_B':
            box_full_data.loc[i,'age_B'] = 26
            box_full_data.loc[i,'age_A'] = 28
    else:
            box_full_data.loc[i,'age_B'] = 26
            box_full_data.loc[i,'age_A'] = 28

In [135]:
box_full_data.describe()

,age_A,age_B,height_A,height_B,reach_A,reach_B,weight_A,weight_B,won_A,won_B,...,drawn_A,drawn_B,kos_A,kos_B,judge1_A,judge1_B,judge2_A,judge2_B,judge3_A,judge3_B
count,387427.000000,387427.000000,249246.000000,134640.000000,112342.000000,37873.000000,135573.000000,130358.000000,387427.000000,387427.000000,...,387427.000000,387427.000000,387427.000000,387348.000000,52248.000000,52060.000000,70371.000000,70032.000000,61231.000000,61023.000000
mean,24.431121,25.978458,172.786657,172.882657,178.848605,179.001030,146.340636,147.089484,23.108438,15.159080,...,2.826481,2.636375,10.338887,6.234735,62.778901,59.509700,59.560941,56.570411,60.784276,57.995215
std,6.339736,10.046405,9.130127,9.430631,12.002404,14.867537,30.240142,30.624890,27.629901,19.938137,...,5.584610,5.027003,12.392049,8.750690,30.337580,29.285058,31.021367,30.260935,31.910461,31.170590
min,-74.000000,-76.000000,2.000000,15.000000,5.000000,1.000000,10.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,21.000000,22.000000,166.000000,167.000000,170.000000,171.000000,125.000000,126.000000,5.000000,2.000000,...,0.000000,0.000000,2.000000,0.000000,39.000000,37.000000,39.000000,36.000000,39.000000,36.000000
50%,24.000000,26.000000,173.000000,173.000000,178.000000,178.000000,140.000000,140.000000,14.000000,8.000000,...,1.000000,1.000000,6.000000,3.000000,59.000000,54.000000,58.000000,54.000000,58.000000,54.000000
75%,27.000000,29.000000,178.000000,179.000000,185.000000,185.000000,160.000000,160.000000,31.000000,21.000000,...,3.000000,3.000000,14.000000,9.000000,80.000000,79.000000,80.000000,75.000000,80.000000,78.000000
max,1818.000000,2016.000000,255.000000,255.000000,456.000000,456.000000,363.000000,450.000000,332.000000,251.000000,...,77.000000,76.000000,131.000000,128.000000,540.000000,291.000000,299.000000,294.000000,300.000000,295.000000

In [136]:
box_height = box_full_data[(~(box_full_data['height_A'].isnull())) & (~(box_full_data['height_B'].isnull()))]
box_height.describe()

,age_A,age_B,height_A,height_B,reach_A,reach_B,weight_A,weight_B,won_A,won_B,...,drawn_A,drawn_B,kos_A,kos_B,judge1_A,judge1_B,judge2_A,judge2_B,judge3_A,judge3_B
count,102750.000000,102750.000000,102750.000000,102750.000000,50420.000000,30709.000000,45320.000000,44957.000000,102750.000000,102750.000000,...,102750.000000,102750.000000,102750.000000,102750.000000,21280.000000,21266.000000,29699.000000,29650.000000,25582.000000,25531.000000
mean,25.539932,27.103698,174.212399,173.324915,180.096152,179.555179,151.490468,152.017884,27.659436,23.008156,...,2.874521,3.239883,13.257080,10.420380,75.464380,71.780401,68.630122,65.356189,71.161129,68.133563
std,7.400991,9.856891,9.318414,9.348609,12.267498,14.439308,34.415729,34.988735,29.965229,23.368087,...,5.935685,5.813019,13.892844,10.989721,31.699148,30.893448,33.980212,33.237507,34.773044,34.067518
min,-74.000000,-74.000000,2.000000,15.000000,23.000000,1.000000,15.000000,15.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
25%,22.000000,23.000000,168.000000,168.000000,173.000000,172.000000,126.000000,126.000000,8.000000,7.000000,...,0.000000,0.000000,4.000000,2.000000,50.000000,47.000000,40.000000,37.000000,40.000000,38.000000
50%,25.000000,26.000000,173.000000,173.000000,179.000000,178.000000,144.000000,144.000000,19.000000,17.000000,...,1.000000,1.000000,9.000000,7.000000,78.000000,73.000000,60.000000,58.000000,75.000000,72.000000
75%,28.000000,30.000000,180.000000,179.000000,187.000000,187.000000,168.000000,168.000000,36.000000,31.000000,...,3.000000,3.000000,18.000000,15.000000,99.000000,95.000000,97.000000,93.000000,98.000000,94.000000
max,1818.000000,2016.000000,217.000000,255.000000,456.000000,456.000000,333.000000,450.000000,262.000000,238.000000,...,77.000000,76.000000,131.000000,128.000000,299.000000,291.000000,299.000000,294.000000,300.000000,295.000000

In [137]:
for i in box_full_data.index:
    if box_full_data.loc[i,'result'] == 'win_A':
        if str(box_full_data.loc[i,'height_A']) =='nan' and str(box_full_data.loc[i,'height_B']) != 'nan':
            box_full_data.loc[i,'height_A'] = box_full_data.loc[i,'height_B'] + 1
        elif str(box_full_data.loc[i,'height_A']) !='nan' and str(box_full_data.loc[i,'height_B']) == 'nan':
            box_full_data.loc[i,'height_B'] = box_full_data.loc[i,'height_A'] - 1
        else:
            pass
    elif box_full_data.loc[i,'result'] == 'win_B':
        if str(box_full_data.loc[i,'height_A']) =='nan' and str(box_full_data.loc[i,'height_B']) != 'nan':
            box_full_data.loc[i,'height_A'] = box_full_data.loc[i,'height_B'] - 1
        elif str(box_full_data.loc[i,'height_A']) !='nan' and str(box_full_data.loc[i,'height_B']) == 'nan':
            box_full_data.loc[i,'height_B'] = box_full_data.loc[i,'height_A'] + 1
        else:
            pass
    else:
        if str(box_full_data.loc[i,'height_A']) =='nan' and str(box_full_data.loc[i,'height_B']) != 'nan':
            box_full_data.loc[i,'height_A'] = box_full_data.loc[i,'height_B']
        elif str(box_full_data.loc[i,'height_A']) !='nan' and str(box_full_data.loc[i,'height_B']) == 'nan':
            box_full_data.loc[i,'height_B'] = box_full_data.loc[i,'height_A']
        else:
            pass

In [179]:
new = list(box_full_data[(box_full_data['height_A'].isnull()) & (box_full_data['height_B'].isnull())].index)
len(new)

0

In [161]:
for i in new:
    if box_full_data.loc[i,'result'] == 'win_A':
            box_full_data.loc[i,'height_A'] = 174
            box_full_data.loc[i,'height_B'] = 173
    elif box_full_data.loc[i,'result'] == 'win_B':
            box_full_data.loc[i,'height_B'] = 173
            box_full_data.loc[i,'height_A'] = 172
    else:
            box_full_data.loc[i,'height_B'] = 173
            box_full_data.loc[i,'height_A'] = 174

In [163]:
box_weight = box_full_data[(~(box_full_data['weight_A'].isnull())) & (~(box_full_data['weight_B'].isnull()))]
box_weight.describe()

,age_A,age_B,height_A,height_B,reach_A,reach_B,weight_A,weight_B,won_A,won_B,...,drawn_A,drawn_B,kos_A,kos_B,judge1_A,judge1_B,judge2_A,judge2_B,judge3_A,judge3_B
count,92849.000000,92849.000000,92849.000000,92849.000000,34494.000000,12382.000000,92849.00000,92849.000000,92849.000000,92849.000000,...,92849.000000,92849.000000,92849.000000,92849.000000,16288.000000,16276.000000,22116.000000,22063.000000,18975.000000,18934.000000
mean,24.751306,26.412670,173.621924,172.815701,180.034238,179.790422,146.73234,147.017189,23.192205,15.971222,...,2.046958,2.165764,11.199927,7.140583,64.070727,60.777894,60.248327,57.194353,61.990198,59.206665
std,7.627672,10.566844,8.343121,8.354507,12.298403,14.030328,30.71772,31.015920,28.474904,19.858788,...,4.469731,4.105057,13.122751,9.291247,31.024911,30.014553,31.493726,30.708620,32.406081,31.680778
min,-4.000000,-2.000000,15.000000,14.000000,28.000000,1.000000,11.00000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,21.000000,23.000000,169.000000,168.000000,173.000000,173.000000,125.00000,125.000000,5.000000,2.000000,...,0.000000,0.000000,2.000000,1.000000,39.000000,37.000000,39.000000,36.000000,39.000000,36.000000
50%,24.000000,26.000000,174.000000,173.000000,179.000000,178.000000,140.00000,140.000000,14.000000,9.000000,...,0.000000,1.000000,7.000000,4.000000,59.000000,55.000000,58.000000,54.000000,58.000000,55.000000
75%,27.000000,29.000000,178.000000,177.000000,187.000000,188.000000,160.00000,161.000000,31.000000,22.000000,...,2.000000,2.000000,16.000000,10.000000,94.000000,90.000000,80.000000,77.000000,93.000000,90.000000
max,1817.000000,2016.000000,218.000000,218.000000,427.000000,456.000000,363.00000,450.000000,259.000000,227.000000,...,60.000000,60.000000,131.000000,121.000000,400.000000,232.000000,290.000000,288.000000,239.000000,232.000000

In [164]:
for i in box_full_data.index:
    if box_full_data.loc[i,'result'] == 'win_A':
        if str(box_full_data.loc[i,'weight_A']) =='nan' and str(box_full_data.loc[i,'weight_B']) != 'nan':
            box_full_data.loc[i,'weight_A'] = box_full_data.loc[i,'weight_B'] - 2
        elif str(box_full_data.loc[i,'weight_A']) !='nan' and str(box_full_data.loc[i,'weight_B']) == 'nan':
            box_full_data.loc[i,'weight_B'] = box_full_data.loc[i,'weight_A'] + 2
        else:
            pass
    elif box_full_data.loc[i,'result'] == 'win_B':
        if str(box_full_data.loc[i,'weight_A']) =='nan' and str(box_full_data.loc[i,'weight_B']) != 'nan':
            box_full_data.loc[i,'weight_A'] = box_full_data.loc[i,'weight_B'] + 2
        elif str(box_full_data.loc[i,'weight_A']) !='nan' and str(box_full_data.loc[i,'weight_B']) == 'nan':
            box_full_data.loc[i,'weight_B'] = box_full_data.loc[i,'weight_A'] - 2
        else:
            pass
    else:
        if str(box_full_data.loc[i,'weight_A']) =='nan' and str(box_full_data.loc[i,'weight_B']) != 'nan':
            box_full_data.loc[i,'weight_A'] = box_full_data.loc[i,'weight_B']
        elif str(box_full_data.loc[i,'weight_A']) !='nan' and str(box_full_data.loc[i,'weight_B']) == 'nan':
            box_full_data.loc[i,'weight_B'] = box_full_data.loc[i,'weight_A']
        else:
            pass

In [176]:
new = list(box_full_data[(box_full_data['weight_A'].isnull()) & (box_full_data['weight_B'].isnull())].index)
len(new)

0

In [177]:
for i in new:
    print(len(new1))
    if box_full_data.loc[i,'result'] == 'win_A':
            box_full_data.loc[i,'weight_A'] = 146
            box_full_data.loc[i,'weight_B'] = 147
    elif box_full_data.loc[i,'result'] == 'win_B':
            box_full_data.loc[i,'weight_B'] = 147
            box_full_data.loc[i,'weight_A'] = 148
    else:
            box_full_data.loc[i,'weight_B'] = 147
            box_full_data.loc[i,'weight_A'] = 146

In [273]:
box_full_data = pd.read_csv('box_data.csv')

In [274]:
box_full_data.drop(['judge1_A', 'judge1_B', 'judge2_A', 'judge2_B', 'judge3_A','judge3_B','reach_A','reach_B'], axis =1,inplace= True)

In [275]:
box_full_data.isnull().sum()

Unnamed: 0         0
age_A              0
age_B              0
height_A           1
height_B           1
stance_A      156418
stance_B      156418
weight_A           0
weight_B           1
won_A              0
won_B              0
lost_A             0
lost_B             0
drawn_A            0
drawn_B            0
kos_A              0
kos_B             79
result             0
decision           0
dtype: int64

In [291]:
new3 = list(box_full_data[box_full_data['stance_B'].isnull() & box_full_data['stance_A'].isnull()].index)

In [292]:
box_full_data.sample(1000).groupby(['stance_A','stance_B'])[['age_A','age_B','height_A','height_B','weight_A','weight_B']].mean()

,,age_A,age_B,height_A,height_B,weight_A,weight_B
stance_A,stance_B,,,,,,
orthodox,orthodox,24.538129,26.099281,173.251799,172.569784,146.920863,147.795683
southpaw,southpaw,24.340741,25.992593,171.977778,171.303704,138.466667,139.148148

In [357]:
for i in new3:
    if box_full_data.loc[i,'weight_B'] >=145:
        box_full_data.loc[i,'stance_A'] = 'orthodox'
        box_full_data.loc[i,'stance_B'] = 'orthodox'
    else:
        box_full_data.loc[i,'stance_A'] = 'southpaw'
        box_full_data.loc[i,'stance_B'] = 'southpaw'

In [258]:
box_full_data.loc[421,'weight_B']

112.0

In [294]:
box_full_data.isnull().sum()

Unnamed: 0     0
age_A          0
age_B          0
height_A       1
height_B       1
stance_A       0
stance_B       1
weight_A       0
weight_B       1
won_A          0
won_B          0
lost_A         0
lost_B         0
drawn_A        0
drawn_B        0
kos_A          0
kos_B         79
result         0
decision       0
dtype: int64

In [311]:
box_full_data.to_csv('box_data_20.csv')

### Handling the extreme values:
1. As the data was for Boxing match i did a small study about the criteria and age boundaries being followed by most of the organizations which conducts the boxing matches.
2. During my study i found that the age limit followed by most of those organizations were falling in the range of 13 to 40 years and also their weight and height will fall in the category of more than 80 pound and between 50 to 218 cm respectively.

In [358]:
box_full_data = pd.read_csv('box_data_20.csv')

In [360]:
for i in box_full_data[box_full_data['age_A'] <13].index:
    box_full_data.loc[i, 'age_A'] = 13
for i in box_full_data[box_full_data['age_B'] <13].index:
    box_full_data.loc[i, 'age_B'] = 13
for i in box_full_data[box_full_data['age_A'] >40].index:
    box_full_data.loc[i, 'age_A'] = 40
for i in box_full_data[box_full_data['age_B'] >40].index:
    box_full_data.loc[i, 'age_B'] = 40

In [361]:
box_full_data.drop('Unnamed: 0', axis =1, inplace= True)

In [362]:
for i in box_full_data[box_full_data['weight_A'] <80].index:
    box_full_data.loc[i, 'weight_A'] = 80
for i in box_full_data[box_full_data['weight_B'] <80].index:
    box_full_data.loc[i, 'weight_B'] = 80

In [363]:
for i in box_full_data[box_full_data['height_A'] <50].index:
    box_full_data.loc[i, 'height_A'] = 50
for i in box_full_data[box_full_data['height_B'] <50].index:
    box_full_data.loc[i, 'height_B'] = 50
for i in box_full_data[box_full_data['height_A'] >218].index:
    box_full_data.loc[i, 'height_A'] = 218
for i in box_full_data[box_full_data['height_B'] >218].index:
    box_full_data.loc[i, 'height_B'] = 218

In [364]:
box_full_data.to_csv('box_data_ext.csv')

storing the final cleansed data in box_data_ext.csv and will fetch this data back to the main project report.